.wrapper textarea {
  background: var(--copyLightColor);
  border: 1px solid var(--borderColor);
  border-radius: 0.2rem;
  width: 100%;
  resize: none;
  outline: none;
  padding: 1.2rem;
  color: var(--copyDarkColor);
}

.wrapper textarea:focus {
  border: 1px solid var(--primaryColor);
}

.wrapper textarea::placeholder {
  color: var(--lightGrey200);
}
