.wrapper {
  background: var(--copyLightColor);
  box-shadow: var(--boxShadow);
  padding: 3.12rem 1.8rem;
  max-width: 800px;
  margin: 0 auto;
}

.wrapper p {
  color: var(--darkGrey);
  margin: 0;
}

.wrapper h1{
    font-weight: var(--fw-bold);
    margin: 0;
}